<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.togogo.mapper.AdminMapper">

    <select id="loginAdmin" parameterType="net.togogo.bean.Admin" resultType="net.togogo.bean.Admin">
        select * from tb_admin where admin_account = #{admin_account} and admin_password = #{admin_password}
    </select>

    <!--<select id="checkExist" parameterType="java.lang.String" resultType="net.togogo.bean.User">-->
        <!--select * from tb_user where user_email = #{email}-->
    <!--</select>-->

    <!--<insert id="createUser" parameterType="net.togogo.bean.User">-->
        <!--insert into tb_user (user_email,user_password,user_name)values(#{user_email},#{user_password},#{user_name})-->
    <!--</insert>-->

    <!--<update id="updateUserInfo" parameterType="net.togogo.bean.User">-->
        <!--update-->
          <!--tb_user-->
        <!--set-->
          <!--user_name=#{user_name},-->
          <!--user_sex=#{user_sex},-->
          <!--user_birthday=#{user_birthday},-->
          <!--user_work_date=#{user_work_date},-->
          <!--user_living_city=#{user_living_city},-->
          <!--user_phone=#{user_phone}-->
        <!--WHERE-->
          <!--user_id=#{user_id}-->
    <!--</update>-->

    <!--<update id="uploadLogo" parameterType="net.togogo.bean.User">-->
        <!--update tb_user set user_photo=#{user_photo} where user_id=#{user_id}-->
    <!--</update>-->
</mapper>